
body {
    background: #F5F5F5;
    color: #757575;

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;

    line-height: 1,71;


    }

    .list {
    list-style: none;
    }

    /* Логотип */
    .logo {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    text-decoration: none;
    }

    .accent {
    color: #2196F3;
    }

    /* Site nav */
    .site-nav .link,
    .auth-nav .link {
        color: #212121;
        font-weight: 500;
        font-size: 14px;
        line-height: 1,14;
        letter-spacing: 0.02em;
        text-decoration: none;
    }

    .site-nav .link:hover,
    .auth-nav .link:hover,
    .site-nav .link:focus,
    .auth-nav .link:focus {
        color: #2196F3;
    }


    
    /* Hero */

    .hero-title {
        color: #FFFFFF;
        font-style: 400;
        font-weight: 900;
        font-size: 44px;
        line-height: 1,36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }

     /* Button */
     .button {
       color: #FFFFFF;
       background-color: #2196F3;
       font-weight: 700;
       font-size: 16px;
       line-height: 1,8;
       letter-spacing: 0.06em;
       text-decoration: none;
    }
    
         .button .primary {
             color: #212121;
             background-color: #F5F4FA;
         }

    /* Section */


    .section-title {
        color: #212121; 
        font-weight: 700;
        font-size: 36px;
        line-height: 1,7;
        text-align: center;
    }

    .features .title {
        color: #212121;
        font-weight: 700;
        font-size: 14px;
        line-height: 1,14;
    }

    /* Team */

    .team .title {
        color: #212121;
        font-weight: 500;
        font-size: 16px;
        line-height: 1,18;                
    }

    .team-profession{
        font-weight: 400;
        font-size: 16px;
        line-height: 1,18;
          }

          /* Футер */
    .fotter {
        color: #FFFFFF;
        background: #2F303A;

    }

    .adress {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    }

    .adress-map {
    color: #FFFFFF;
    }

          .adress .link:hover,
          .adress .link:focus {
              color: #2196F3;
          }

   



    





    


