:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --hero-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --logo-tetx-color: #000000;
}

body {
    background: #F5F5F5;
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
    }
    
        .list {
    list-style: none;
    }

    /* Логотип */
    .logo {
    color: var(--logo-tetx-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    }

    .logo:hover {
    color: var(--accent-color);
    }

    .accent {
    color: var(--accent-color);
    }

    /* Site nav */
    .site-nav .link,
    .auth-nav .link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
    }

    .site-nav .link{
    color: var(--title-text-color);
        
    }
    .auth-nav .link {
    color: var(--primary-text-color);
    }

    .site-nav .link:hover,
    .auth-nav .link:hover,
    .site-nav .link:focus,
    .auth-nav .link:focus {
        color: var(--accent-color);
    }

   .site-nav .link.current {
    color: var(--accent-color);
   }

  
    
    /* Hero */

    .hero-title {
        color: var(--hero-text-color);
        font-style: 400;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        background: #2F303A;
    }

     /* Button */
    .button {
       color: var(--hero-text-color);
       background-color: var(--accent-color);
       font-weight: 700;
       font-size: 16px;
       line-height: 1.8;
       letter-spacing: 0.06em;
       text-decoration: none;
       cursor: pointer;
    }
    
    .button-secondary {
        color: var(--title-text-color);
        background-color: #F5F4FA;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        cursor: pointer;
    }


    .button-secondary:hover,
    .button-secondary:focus {
        color: var(--hero-text-color);
        background-color:  var(--accent-color);;
    }
    

    /* Section */

    .section-title {
        color: var(--title-text-color); 
        font-weight: 700;
        font-size: 36px;
        line-height: 1.7;
        text-align: center;
        
    }

    .features .title {
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
    }

    /* Team */

    .team .title {
        color: var(--title-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;                
    }

    .team-profession{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
    }

        /* Portfolio */

       
        .title-progect {
            color: var(--title-text-color);
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
            color: var(--title-text-color);
        }
    
        .title-text {
            color: var(--primary-text-color);
            font-size: 16px;
            line-height: 1.87;
        }
    
        a {
            text-decoration: none;
        }



          /* Футер */
    .section-footer {
        color: var(--hero-text-color);
        background: #2F303A;
        text-decoration: none;
    }

    .logo-footer {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }

    .adress {
        font-style: normal;
    }

    .adress-map {
        color: var(--hero-text-color);
        text-decoration: none;
       
      
    }

    .adress-map:hover,
    .adress-map:focus {
        color: var(--accent-color);
    }

    .mail, .phone {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        }
    
    .mail:hover,
    .mail:focus,
    .phone:hover,
    .phone:focus {
        color:var (--accent-color);
    }







    





    


